<!doctype html>
<html>
    <head>
        <title>three.js Shaders Sources</title>
        <link rel="stylesheet" href="./style.css" />
        <style>
            a {
                text-decoration: underline;
                padding: 1px 3px;
                margin: -1px -3px;
            }
            a:hover {
                text-decoration: none;
                background-color: #e5e5e5;
            }
            code {
                padding: 1px 3px;
                margin: -1px -3px;
                background-color: #e5e5e5;
            }
        </style>

        <script>
            hljs.highlightAll();
        </script>
    </head>
    <body class="index">
        <nav>{{nav}}</nav>
        <article>
            <h1>three.js Shaders Sources</h1>
            <p>
                This site provides a convenient way to consult the source code
                of the shaders provided by
                <a href="https://threejs.org/">three.js</a>.<br />
                In the source code, click on the
                <code>#&lt;include&gt;</code> instructions to show the
                corresponding chunks in place.<br />
            </p>
            <p>
                The code to generate these pages is
                <a href="https://github.com/grgrdvrt/three_shaders_source"
                    >available on github</a
                >.
            </p>
            <p>This version is based on three.js r166.</p>
        </article>
    </body>
</html>
